/* general CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar CSS */

.navbar-brand {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav {
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color:grey ;
}










/* hero CSS */
.hero {
    background-color: white;
    background-size: cover;
    height: 80vh;
}

.img {
    width: 370px;
    height: 500px;
}

.hero h1 {
    font-size: 4rem;
    margin-top: 20vh;

}

.hero h4 {
    font-size: 2rem;
}


/* projects CSS */
.projects {
    background-color: #f7f7f7;
    background-size: cover;
    height: 80vh;

}

/* contact me CSS */

.contact h6 {
    margin-bottom: 3rem;
}

.form {

}

.address {
    background-color: #f7f7f7;
}